@media (min-width: 576px) {
  .large-fig {
    max-width: 55%;
  }
  .small-fig {
    max-width: 43%;
  }
}
@media (min-width: 768px) {
  .large-fig {
    max-width: 48.75%;
  }
  .small-fig {
    max-width: 36.75%;
  }
}
@media (min-width: 1024px) {
  .large-fig {
    max-width: 42.5%;
  }
  .small-fig {
    max-width: 30.5%;
  }
}
@media (min-width: 1280px) {
  .large-fig {
    max-width: 36.25%;
  }
  .small-fig {
    max-width: 24.25%;
  }
}
@media (min-width: 1536px) {
  .large-fig {
    max-width: 30%;
  }
  .small-fig {
    max-width: 18%;
  }
}

.goat {
  margin-left: auto;
  margin-right: auto;
}

.arrow-offset {
  padding-right: 0.80%;
}

blockquote > p {
  margin-bottom: 0;
}
