<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Mickey's Personal Blog" />

    {{ with resources.Get "css/pico.min.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }} {{ if eq .Title .Site.Title }}
    <title>{{ .Site.Title }}</title>
    {{ else }}
    <title>{{ .Title }} · {{ .Site.Title }}</title>
    {{ end }}
  </head>
  <body>
    <main class="container">
      <div>{{ block "main" . }} {{ end }}</div>
    </main>
  </body>
</html>
