{{ define "main" }}
<header>{{ partial "header" }}</header>

<p>Hi! Welcome to my slice of the web!</p>
<p>
  My name is Mickey! I love tinkering with computers, and I want to understand
  what makes everything tick! This site is kind of empty right now, but I'm
  working on adding more to it.
</p>
<p>
  You can also find me on GitHub as
  <a href="https://github.com/minkedup">@minkedup</a>, or you can email me at
  <a href="mailto:me@minkedup.xyz">me@minkedup.xyz</a>.
</p>

<h3>Recent Posts</h3>

{{ range (.Site.GetPage "posts").Pages | first 6 }} {{ partial "preview.html" .
}} {{ end }} {{ end }}
